components:
  schemas:
    github_com_GLK-Labs_taoapi_model.EventStake:
      properties:
        action:
          type: string
        alpha:
          type: number
        alphaPriceInTao:
          type: number
        alphaPriceInUsd:
          type: number
        amount:
          type: number
        blockNumber:
          type: integer
        delegateHex:
          type: string
        delegateSs58:
          type: string
        eventId:
          type: integer
        extrinsicHash:
          type: string
        extrinsicId:
          type: integer
        fee:
          type: number
        netuid:
          type: integer
        nominatorHex:
          type: string
        nominatorSs58:
          type: string
        timestamp:
          type: string
        usd:
          type: number
      type: object
    handler.APIErrorResponse:
      properties:
        code:
          type: integer
        data:
          $ref: '#/components/schemas/handler.ValidationFailed'
        message:
          type: string
      type: object
    handler.EventStakeQueryAPIResponse:
      properties:
        code:
          type: integer
        data:
          $ref: '#/components/schemas/handler.EventStakeQueryResponse'
        message:
          type: string
      type: object
    handler.EventStakeQueryResponse:
      properties:
        items:
          items:
            $ref: '#/components/schemas/github_com_GLK-Labs_taoapi_model.EventStake'
          type: array
          uniqueItems: false
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
      type: object
    handler.ValidationFailed:
      properties:
        message:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: glk_api
      type: apiKey
externalDocs:
  description: ""
  url: ""
info:
  description: TaoAPI HTTP service.
  title: TaoAPI
  version: "1.0"
openapi: 3.1.0
paths:
  /api/v1/event-stakes:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handler.EventStakeQueryAPIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handler.APIErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handler.APIErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/handler.APIErrorResponse'
          description: Internal Server Error
servers:
- description: Tao api server.
  url: https://taoapi.chillybot.xyz
